@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap");

:root {
  --primary-color: #384b70;
  --secondary-color: #507687;
  --light-color: #fcfaee;
  --danger-color: #b8001f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  color: var(--primary-color);
  overflow: hidden;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* on root  */
.background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background-image: url(/public/bg2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  width: 80dvw;
  min-width: 250px;
  height: 90dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  margin: 1%;
  border-radius: 1rem;
  background-color: rgb(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

header {
  font-size: 4rem;
}
form {
  display: flex;
  justify-content: space-evenly;
  color: #fff;
  padding: 1rem;
  border-radius: 1rem;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

form input,
button {
  font-size: 2rem;
  margin: 0.1rem;
  border-radius: 1rem;
  padding: 1rem;
  border: none;
  color: #fff;
  background-color: var(--primary-color);
  transition: all 0.5s;
  cursor: pointer;
}
form input:hover,
button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
form button:active {
  color: var(--danger-color);
  background-color: var(--secondary-color);
}
form input:focus {
  border: none;
  outline: none;
  transform: translateY(-10px);
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

section .display {
  display: flex;
  padding: 1rem;
  font-size: 1.8rem;
  margin: 0.4rem;
}

section img {
  border-radius: 1rem;
  margin: 0.5rem;
  background-color: var(--secondary-color);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
section .desc {
  width: 100%;
  margin-top: 3rem;
  font-size: 4.5rem;
}
section .temp {
  width: 100%;
}
section .temp p {
  font-size: 1.5rem;
  color: var(--danger-color);
}
section .sun {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
section .sun span {
  color: yellow;
}

.loading,
.error,
h1 {
  color: var(--primary-color);
}
@media screen and (max-width: 580px) {
  form {
    flex-direction: column;
  }
  form input {
    font-size: 0.8rem;
  }
  form button {
    font-size: 1rem;
  }
  header {
    font-size: 2rem;
  }
  main {
    width: 50%;
    /* height: 70dvh; */
  }
  section .display {
    font-size: 1.2rem;
  }
  section .sun {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  section .desc {
    font-size: 1.5rem;
  }
}
